BODY {
	FONT-SIZE: 10px; MARGIN: 0px 5px 5px 0px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
TD {
	FONT-SIZE: 13px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
TH {
	FONT-SIZE: 13px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
P {
	FONT-SIZE: 13px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
TD.P {
	FONT-SIZE: 13px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
TH.P {
	FONT-SIZE: 13px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.cm {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; Z-INDEX: 2000; VISIBILITY: hidden; PADDING-BOTTOM: 0px; WIDTH: 166px; PADDING-TOP: 0px; POSITION: absolute; BACKGROUND-COLOR: #505050; layer-background-color: #505050
}
.cmMore {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; Z-INDEX: 2000; VISIBILITY: hidden; PADDING-BOTTOM: 0px; WIDTH: 115px; PADDING-TOP: 0px; POSITION: absolute; BACKGROUND-COLOR: #505050; layer-background-color: #505050
}
.cmLff {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #000175; FONT-FAMILY: verdana, arial, helvetica, sans-serif; BACKGROUND-COLOR: #e5e5e5; TEXT-DECORATION: none
}
A:link {
	COLOR: #02027a
}
A:visited {
	COLOR: #6c6c6c
}
A:active {
	COLOR: #6c6c6c
}
A:hover {
	COLOR: red
}
.a1 {
	FONT-FAMILY: Arial, Helvetica, sans-serif
}
.a2 {
	FONT-FAMILY: Arial, Helvetica, sans-serif
}
.a3 {
	FONT-FAMILY: Arial, Helvetica, sans-serif
}
.a4 {
	FONT-FAMILY: Arial, Helvetica, sans-serif
}
.a5 {
	FONT-FAMILY: Arial, Helvetica, sans-serif
}
.a6 {
	FONT-FAMILY: Arial, Helvetica, sans-serif
}
.a1 {
	FONT-SIZE: 10px
}
.a2 {
	FONT-SIZE: 13px
}
.a3 {
	FONT-SIZE: 16px
}
.a4 {
	FONT-SIZE: 19px; LINE-HEIGHT: 28px
}
.a5 {
	FONT-SIZE: 24px
}
.a6 {
	FONT-SIZE: 32px
}
.v1 {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.v2 {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.v3 {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.v4 {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.v5 {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.v6 {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.v1 {
	FONT-SIZE: 10px
}
.v2 {
	FONT-SIZE: 13px
}
.v3 {
	FONT-SIZE: 16px
}
.v4 {
	FONT-SIZE: 19px
}
.v5 {
	FONT-SIZE: 24px
}
.v6 {
	FONT-SIZE: 32px
}
.Table1 TD {
	FONT-SIZE: 10px; FONT-FAMILY: Verdana, Helvetica, sans-serif
}
.table1 TH {
	FONT-SIZE: 10px; FONT-FAMILY: Verdana, Helvetica, sans-serif
}
.tb0font {
	FONT-WEIGHT: bold; COLOR: #395d4a
}
.tb0 {
	FONT-WEIGHT: bold; BACKGROUND-COLOR: #b6c2be; layer-background-color: #B6C2BE
}
.tb1 {
	BACKGROUND-COLOR: #d0d9d6; layer-background-color: #D0D9D6
}
.tb2 {
	BACKGROUND-COLOR: #d8e2df; layer-background-color: #D8E2DF
}
.tb4 {
	BACKGROUND-COLOR: #ede2a5; layer-background-color: #EDE2A5
}
.statpage TD {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; FONT-FAMILY: Verdana,Arial,Helvetica
}
.statpage TH {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; FONT-FAMILY: Verdana,Arial,Helvetica
}
.bg0 {
	FONT-WEIGHT: bold; BACKGROUND-COLOR: #396194; layer-background-color: #396194
}
.bg1 {
	FONT-WEIGHT: bold; BACKGROUND-COLOR: #b9b9b8; layer-background-color: #b9b9b8
}
.bg2 {
	BACKGROUND-COLOR: #f0f0f0; layer-background-color: #f0f0f0
}
.bg3 {
	BACKGROUND-COLOR: #ffffff; layer-background-color: #ffffff
}
.bg4 {
	BACKGROUND-COLOR: #e5e5e5; layer-background-color: #e5e5e5
}
.bg5 {
	BACKGROUND-COLOR: #ffffab; layer-background-color: #ffffab
}
.bg6 {
	BACKGROUND-COLOR: #bdbebd; layer-background-color: #BDBEBD
}
.bg7 {
	BACKGROUND-COLOR: #eef2f2; layer-background-color: #EEF2F2
}
.bg8 {
	BACKGROUND-COLOR: #31659c; layer-background-color: #31659C
}
.stattb TD {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; FONT-FAMILY: Verdana, Arial, Helvetica
}
stattb TH {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; FONT-FAMILY: Verdana, Arial, Helvetica
}
.gst {
	BACKGROUND-COLOR: #dbdbdb; layer-background-color: #DBDBDB
}
.gst2 {
	BACKGROUND-COLOR: #c1c1c1; layer-background-color: #C1C1C1
}
.gst3 {
	BACKGROUND-COLOR: #efebef; layer-background-color: #EFEBEF
}
.wtxt {
	FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.wtxt A {
	FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.wtxt A:visited {
	FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.wtxt A:unknown {
	FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.nalert {
	FONT-SIZE: 12px; COLOR: #efeb29; FONT-FAMILY: arial, helvetica, sans-serif
}
.nalert2 {
	FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: arial, helvetica, sans-serif
}
.nalert2 TD A:link {
	FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: arial, helvetica, sans-serif
}
.nalert2 A {
	FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: arial, helvetica, sans-serif
}
.nalert2 A:visited {
	FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: arial, helvetica, sans-serif
}
.nalert2 A:unknown {
	FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: arial, helvetica, sans-serif
}
.bg0font {
	COLOR: #ffffff
}
.bk {
	BACKGROUND-COLOR: #eef2f2; layer-background-color: #EEF2F2
}
.bkgreen {
	BACKGROUND-COLOR: #29614a; layer-background-color: #29614A
}
.bkgreen2 {
	BACKGROUND-COLOR: #ced7d6; layer-background-color: #CED7D6
}
.bkgreen3 {
	BACKGROUND-COLOR: #efefef; layer-background-color: #EFEFEF
}
.bkgreen4 {
	BACKGROUND-COLOR: #c9d401; layer-background-color: #C9D401
}
.bkgreen5 {
	BACKGROUND-COLOR: #0c6a5b; layer-background-color: #0C6A5B
}
.linebr {
	BACKGROUND-COLOR: #528a6b; layer-background-color: #528A6B
}
.bkbrn {
	BACKGROUND-COLOR: #616060; layer-background-color: #616060
}
DIV.spacer20 {
	FONT-SIZE: 20px; HEIGHT: 20px
}
DIV.spacer10 {
	FONT-SIZE: 10px; HEIGHT: 10px
}
DIV.spacer5 {
	FONT-SIZE: 5px; HEIGHT: 5px
}
.hdrspon {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.hdrspontxt {
	FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.hdrspontxt A:visited {
	COLOR: #bfe687
}
.hdrspontxt A:link {
	COLOR: #bfe687
}
.reghd {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.reghd2 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; FONT-FAMILY: arial, helvetica, sans-serif
}
.storyhd {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #395d4a; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.aritxt TD {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; FONT-FAMILY: arial, helvetica, sans-serif
}
.TableHead {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #fffff0; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.tourhd {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.sponhd {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.tournvhd {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #d2e0bd; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.tournv {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #bfe687; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.tournv A:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #bfe687; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.tournv A:link {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #bfe687; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.tourhd2 {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.scorlink {
	FONT-SIZE: 10px; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.glanc {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; FONT-FAMILY: arial, helvetica, sans-serif; BACKGROUND-COLOR: #ced7d6; layer-background-color: #CED7D6
}
.glanc2 {
	FONT-SIZE: 10px; FONT-FAMILY: verdana, arial, helvetica, sans-serif; BACKGROUND-COLOR: #ced7d6; layer-background-color: #CED7D6
}
.prohdpic {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; FONT-FAMILY: arial, helvetica, sans-serif; BACKGROUND-COLOR: #ffffff; layer-background-color: #ffffff
}
.bldlink {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; FONT-FAMILY: arial, helvetica, sans-serif
}
.rdtxt {
	FONT-WEIGHT: bold; COLOR: #c61421
}
.rdtxt A:link {
	FONT-WEIGHT: bold; COLOR: #c61421
}
.rdtxt A:visited {
	FONT-WEIGHT: bold; COLOR: #c61421
}
.protxt A:link {
	FONT-SIZE: 10px; FONT-FAMILY: arial, helvetica, sans-serif
}
.tourtxt TD {
	FONT-SIZE: 10px; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.genlink TD A:link {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.genlink TD A:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.spon A:link {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.spon A:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.shp TD A:link {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.shp TD A:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.shp A:link {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.shp A:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.ftrlink A:link {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; FONT-FAMILY: arial, helvetica, sans-serif
}
.ftrlink A:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; FONT-FAMILY: arial, helvetica, sans-serif
}
.ftrtxt {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; FONT-FAMILY: arial, helvetica, sans-serif
}
.fanlink A:link {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; FONT-FAMILY: arial, helvetica, sans-serif
}
.spon A:link {
	FONT-WEIGHT: bold
}
.tophd1 {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #d01223; FONT-FAMILY: Arial, helvetica, sans-serif
}
.tophd1a {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #d01223; FONT-FAMILY: Arial, helvetica, sans-serif
}
.tophd2 A:link {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #02027a; FONT-FAMILY: Arial, helvetica, sans-serif
}
.tophd2 A {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #02027a; FONT-FAMILY: Arial, helvetica, sans-serif
}
.tophd2a A:link {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #02027a; FONT-FAMILY: Arial, helvetica, sans-serif
}
.tophd2a A {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #02027a; FONT-FAMILY: Arial, helvetica, sans-serif
}
.top1ink A:link {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; FONT-FAMILY: Verdana, Arial, helvetica, sans-serif
}
.top1ink A {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; FONT-FAMILY: Verdana, Arial, helvetica, sans-serif
}
.caption {
	FONT-SIZE: 10px; COLOR: #0177a9; LINE-HEIGHT: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.caption2 {
	FONT-SIZE: 10px; COLOR: #000000; LINE-HEIGHT: 12px; FONT-FAMILY: verdana, Helvetica, sans-serif
}
.gnsbtxt {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; FONT-FAMILY: arial, helvetica, sans-serif; TEXT-DECORATION: none
}
.gnsbtxt A {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; FONT-FAMILY: arial, helvetica, sans-serif; TEXT-DECORATION: none
}
.gnsbtxt A:link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; FONT-FAMILY: arial, helvetica, sans-serif; TEXT-DECORATION: none
}
.gnsbtxt A:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; FONT-FAMILY: arial, helvetica, sans-serif; TEXT-DECORATION: none
}
.gnsbtxt2 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; FONT-FAMILY: arial, helvetica, sans-serif; TEXT-DECORATION: none
}
.gnsbtxt2 A {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; FONT-FAMILY: arial, helvetica, sans-serif; TEXT-DECORATION: none
}
.gnsbtxt2 A:link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; FONT-FAMILY: arial, helvetica, sans-serif; TEXT-DECORATION: none
}
.gnsbtxt2 A:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; FONT-FAMILY: arial, helvetica, sans-serif; TEXT-DECORATION: none
}
.gntab {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; FONT-FAMILY: arial, helvetica, sans-serif; TEXT-DECORATION: none
}
.gntab A {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; FONT-FAMILY: arial, helvetica, sans-serif; TEXT-DECORATION: none
}
.gntab A:link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; FONT-FAMILY: arial, helvetica, sans-serif; TEXT-DECORATION: none
}
.gntab A:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; FONT-FAMILY: arial, helvetica, sans-serif; TEXT-DECORATION: none
}
.gnsbtxt {
	COLOR: #ffffff
}
.gnsbtxt A {
	COLOR: #ffffff
}
.gnsbtxt A:link {
	COLOR: #ffffff
}
.gnsbtxt A:visited {
	COLOR: #ffffff
}
.gnsbtxt2 {
	COLOR: #29598c
}
.gnsbtxt2 A {
	COLOR: #29598c
}
.gnsbtxt2 A:link {
	COLOR: #29598c
}
.gnsbtxt2 A:visited {
	COLOR: #29598c
}
.tabledata TD {
	FONT-SIZE: 10px; FONT-FAMILY: Verdana,Arial,Helvetica
}
.tabledata TH {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #fffff0; FONT-FAMILY: Verdana,Arial,Helvetica
}
.playerQ {
	FONT-SIZE: 16px; COLOR: #215284; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.playerLink {
	FONT-SIZE: 10px; LINE-HEIGHT: 6px
}
.leaderboard TR {
	BACKGROUND-COLOR: #f2f2f2
}
.leaderboard TD {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; FONT-FAMILY: Verdana,Arial,Helvetica
}
.leaderboard TH {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; FONT-FAMILY: Verdana,Arial,Helvetica
}
.mr1 {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; FONT-FAMILY: Verdana,Arial,Helvetica; BACKGROUND-COLOR: #cfb940
}
.mr2 {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; FONT-FAMILY: Verdana,Arial,Helvetica; BACKGROUND-COLOR: #5b72ae
}
.mr3 {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; FONT-FAMILY: Verdana,Arial,Helvetica; BACKGROUND-COLOR: #247135
}
.mr4 {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; FONT-FAMILY: Verdana,Arial,Helvetica; BACKGROUND-COLOR: #87602d
}
.mr5 {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; FONT-FAMILY: Verdana,Arial,Helvetica; BACKGROUND-COLOR: #f2f2f2
}
.mrx {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; FONT-FAMILY: Verdana,Arial,Helvetica; BACKGROUND-COLOR: #f2f2f2
}
.db {
	BACKGROUND-COLOR: #dbdbdb
}
.cc {
	BACKGROUND-COLOR: #cccccc
}
.c1 {
	BACKGROUND-COLOR: #c1c1c1
}
.ef {
	BACKGROUND-COLOR: #eef2f2
}
