
BODY {font-family: Arial, Helvetica, sans-serif; font-size:10px; margin-left: 0px; margin-right: 0px; margin: 0 5 5 0; }
TD, TH, P, TD.P, TH.P {font-family: Arial, Helvetica, sans-serif; font-size: 13px; }

/* pulldown non-font style */
.cm {display: inline; position: absolute; visibility: hidden; width: 166px; padding: 0; background-color: #505050; layer-background-color: #505050; z-Index: 2000;}
.cmMore {display: inline; position: absolute; visibility: hidden; width: 115px; padding: 0; background-color: #505050; layer-background-color: #505050; z-Index: 2000;}
.cmLff {font-size: 10px; font-family: verdana, arial, helvetica, sans-serif; background-color: #e5e5e5; color: #000175; background-color: #e5e5e5; font-weight: bold; text-decoration: none;}

a:link {color:#02027A;}
a:visited {color:#6C6C6C;}
a:active {color:#6C6C6C;}
a:hover {color:red;}

/* Arial */
.a1, .a2, .a3, .a4, .a5, .a6 {font-family: Arial, Helvetica, sans-serif;}
.a1 {font-size:10px;}
.a2 {font-size:13px;}
.a3 {font-size:16px;}
.a4 {font-size:19px; line-height:28px;}
.a5 {font-size:24px;}
.a6 {font-size:32px;}

/* Verdana */
.v1, .v2, .v3, .v4, .v5, .v6 {font-family: Verdana, Arial, Helvetica, sans-serif;}
.v1 {font-size:10px;}
.v2 {font-size:13px;}
.v3 {font-size:16px;}
.v4 {font-size:19px;}
.v5 {font-size:24px;}
.v6 {font-size:32px;}

/*table styles */
.Table1 TD, .table1 TH {font-size:10px; font-family: Verdana, Helvetica, sans-serif;}
.tb0font {color:#395D4A; font-weight:bold;}
.tb0 {font-weight : bold; background-color: #B6C2BE; layer-background-color: #B6C2BE;}
.tb1 {background-color: #D0D9D6; layer-background-color: #D0D9D6;}
.tb2 {background-color: #D8E2DF; layer-background-color: #D8E2DF;}
.tb4 {background-color: #EDE2A5; layer-background-color:  #EDE2A5;}

/*Stats pages*/
.statpage TD {font-family:Verdana,Arial,Helvetica; font-size:10px; font-weight:bold; }
.statpage TH {font-family:Verdana,Arial,Helvetica; font-size:10px; font-weight:bold; }

.bg0 {font-weight : bold; background-color: #396194; layer-background-color: #396194; }
.bg1 {font-weight : bold; background-color: #b9b9b8; layer-background-color: #b9b9b8;}
.bg2 {background-color: #f0f0f0; layer-background-color: #f0f0f0;}
.bg3 {background-color: #ffffff; layer-background-color: #ffffff;}
.bg4 {background-color: #e5e5e5; layer-background-color: #e5e5e5;}
.bg5 {background-color: #ffffab; layer-background-color: #ffffab;}
.bg6 {background-color: #BDBEBD; layer-background-color: #BDBEBD;}
.bg7 {background-color: #EEF2F2; layer-background-color: #EEF2F2;}
.bg8 {background-color: #31659C; layer-background-color: #31659C;} /*blue*/

/* MAY BE TAKEN OUT */
.stattb TD, stattb TH {font-family:  Verdana, Arial, Helvetica; font-size:10px; font-weight:bold; }
.gst {background-color: #DBDBDB; layer-background-color: #DBDBDB;}
.gst2 {background-color: #C1C1C1; layer-background-color: #C1C1C1;}
.gst3 {background-color: #EFEBEF; layer-background-color: #EFEBEF;}

.wtxt, .wtxt A, .wtxt A:visited, .wtxt A:linked {font-size: 10px; font-family: verdana, arial, helvetica, sans-serif; color: #FFFFFF;}
.nalert {font-size: 12px; font-family: arial, helvetica, sans-serif; color: #EFEB29;}
.nalert2, .nalert2 TD a:link, .nalert2 A, .nalert2 A:visited, .nalert2 A:linked {font-size: 12px; font-family: arial, helvetica, sans-serif; color: #FFFFFF;}



.bg0font {color:#ffffff;}

.bk {background-color: #EEF2F2; layer-background-color: #EEF2F2;}   /*backround color of the site. */
.bkgreen {background-color: #29614A; layer-background-color: #29614A;}   /* green*/
.bkgreen2 {background-color: #CED7D6; layer-background-color: #CED7D6;}  /*lighter green*/
.bkgreen3 {background-color: #EFEFEF; layer-background-color: #EFEFEF;}  /*lightiest green*/
.bkgreen4 {background-color: #C9D401; layer-background-color: #C9D401;}  /*at a glance colors*/
.bkgreen5 {background-color: #0C6A5B ; layer-background-color: #0C6A5B;}   /* green*/
.linebr {background-color: #528A6B ; layer-background-color: #528A6B;}   /* line green*/
.bkbrn {background-color: #616060 ; layer-background-color: #616060;}  /*brown news alert */

/* Spacer class */
div.spacer20 {height: 20px; font-size: 20px;}
div.spacer10 {height: 10px; font-size: 10px;}
div.spacer5 {height: 5px; font-size: 5px;}

/* Header Sponsors */
.hdrspon {font-size: 12px; font-family: verdana, arial, helvetica, sans-serif; color: #ffffff; font-weight:bold;}
.hdrspontxt {font-size: 10px; font-family: verdana, arial, helvetica, sans-serif; color: #ffffff;}
.hdrspontxt  A:visited, .hdrspontxt A:link {color: #BFE687;}

.reghd   {font-size: 11px; font-family: verdana, arial, helvetica, sans-serif; color: #ffffff; font-weight:bold;}
.reghd2  {font-size: 11px; font-family: arial, helvetica, sans-serif; font-weight:bold;}
.storyhd   {font-size: 10px; font-family: verdana, arial, helvetica, sans-serif; color: #395D4A; font-weight:bold;}

.aritxt TD {font-weight:bold; font-size: 11px; font-family: arial, helvetica, sans-serif;}

/* tablehead white */
.TableHead {font-size:13px; font-weight:bold; font-family:Arial, Helvetica, sans-serif; color:#FFFFF0;}

/* Homepage tournament box on left */
.tourhd, .sponhd {font-size: 10px; font-family: verdana, arial, helvetica, sans-serif; font-weight:bold;}
.tournvhd {font-size: 11px; font-family: verdana, arial, helvetica, sans-serif; color: #D2E0BD; font-weight:bold;}
.tournv, .tournv A:visited, .tournv A:link {font-size: 11px; font-family: verdana, arial, helvetica, sans-serif; color: #BFE687; font-weight:bold;}

.tourhd2 {font-size: 10px; font-family: verdana, arial, helvetica, sans-serif; font-weight:bold;}
.scorlink {font-size: 10px; font-family: verdana, arial, helvetica, sans-serif;}

.glanc {font-weight:bold; font-size: 12px; font-family: arial, helvetica, sans-serif; background-color: #CED7D6; layer-background-color: #CED7D6;} /*at a glance colors*/
.glanc2 {font-size: 10px; font-family: verdana, arial, helvetica, sans-serif; background-color: #CED7D6; layer-background-color: #CED7D6;}
.prohdpic {font-weight:bold; font-size: 11px; font-family: arial, helvetica, sans-serif; background-color: #ffffff; layer-background-color: #ffffff;}

.bldlink {font-weight:bold; font-size: 11px; font-family: arial, helvetica, sans-serif;} /*regular bolded link*/
.rdtxt, .rdtxt A:link, .rdtxt A:visited {color: #C61421; font-weight:bold; }
.rdscore, .rdscore A:link, .rdscore A:visited {color: #C61421; font-weight:bold; font-size: 10px; font-family: verdana, helvetica, sans-serif;}

.protxt a:link {font-size: 10px; font-family: arial, helvetica, sans-serif;}
.tourtxt TD {font-size: 10px; font-family: verdana, arial, helvetica, sans-serif;}

.genlink TD a:link, .genlink TD a:visited, .spon A:link, .spon A:visited,  {font-size: 12px; font-family: verdana, arial, helvetica, sans-serif; font-weight: normal;}
.shp TD a:link, .shp TD a:visited, .shp A:link, .shp A:visited, {font-size: 11px; font-family: verdana, arial, helvetica, sans-serif; font-weight: normal;}
.ftrlink a:link, .ftrlink a:visited, .ftrtxt {font-size: 10px; font-family: arial, helvetica, sans-serif; font-weight: normal;}

.fanlink a:link  {font-size: 11px; font-family: arial, helvetica, sans-serif; font-weight: normal;}
.spon a:link {font-weight:bold;}

.tophd1 {font-size: 16px; font-family: Arial, helvetica, sans-serif; font-weight:bold; color: #D01223;}
.tophd1a {font-size: 14px; font-family: Arial, helvetica, sans-serif; font-weight:bold; color: #D01223;}

.tophd2 A:link, .tophd2 A  {font-size: 18px; font-family: Arial, helvetica, sans-serif; font-weight:bold; color: #02027A;}
.tophd2a a:link, .tophd2a A {font-size: 16px; font-family: Arial, helvetica, sans-serif; font-weight:bold; color: #02027A;}

.top1ink a:link, .top1ink A {font-size: 11px; font-family: Verdana, Arial, helvetica, sans-serif; font-weight:bold;}
.caption {font-size:10px; line-height:12px;  font-family: Arial, Helvetica, sans-serif; color:#0177A9;}
.caption2 {font-size:10px; line-height:12px;  font-family: verdana, Helvetica, sans-serif; color:#000000;}

.gnsbtxt, .gnsbtxt A, .gnsbtxt A:link, .gnsbtxt A:visited, .gnsbtxt2, .gnsbtxt2 A, .gnsbtxt2 A:link, .gnsbtxt2 A:visited, .gntab, .gntab A, .gntab A:link, .gntab A:visited {font-size: 12px; font-family: arial, helvetica, sans-serif; font-weight: bold; text-decoration: none;}
.gnsbtxt, .gnsbtxt A, .gnsbtxt A:link, .gnsbtxt A:visited {color: #ffffff;}
.gnsbtxt2, .gnsbtxt2 A, .gnsbtxt2 A:link, .gnsbtxt2 A:visited {color: #29598C;}

/*player pages*/
.tabledata TD {font-family:Verdana,Arial,Helvetica; font-size:10px; }
.tabledata TH {color:#FFFFF0; font-family:Verdana,Arial,Helvetica; font-size:10px; font-weight:bold;}
.playerQ {font-size:16px; font-family: Arial, Helvetica, sans-serif; color:215284;}
.playerLink {font-size:10px; line-height:6px;}

/*Leaderboard */
.leaderboard TR { background-color : #F2F2F2; }
.leaderboard TD {font-family:Verdana,Arial,Helvetica; font-size:10px; font-weight:bold; }
.leaderboard TH {font-family:Verdana,Arial,Helvetica; font-size:10px; font-weight:bold; }
.mr1 { background-color : #CFB940; font-family:Verdana,Arial,Helvetica; font-size:10px; font-weight:bold; }
.mr2 { background-color : #5B72AE; font-family:Verdana,Arial,Helvetica; font-size:10px; font-weight:bold; }
.mr3 { background-color : #247135; font-family:Verdana,Arial,Helvetica; font-size:10px; font-weight:bold; }
.mr4 { background-color : #87602D; font-family:Verdana,Arial,Helvetica; font-size:10px; font-weight:bold; }
/* .mr5 { background-color : #A11C22; font-family:Verdana,Arial,Helvetica; font-size:10px; font-weight:bold; } */
.mr5 { background-color : #F2F2F2; font-family:Verdana,Arial,Helvetica; font-size:10px; font-weight:bold; }
.mrx { background-color : #F2F2F2; font-family:Verdana,Arial,Helvetica; font-size:10px; font-weight:bold; }
.db  { background-color : #DBDBDB; }
.cc  { background-color : #CCCCCC; }
.c1  { background-color : #C1C1C1; }
.ef  { background-color : #EEF2F2; }